---
export interface Props {
title: string;
description: string;
}
const { title, description } = Astro.props;
---

<header class="mx-auto text-center content flex">
  <div class="mb-20">
    <p data-test="header-description">{description}</p>
  </div>
</header>